.body_background
{
    background-image:url(https://th.bing.com/th/id/OIP.dM6d7GVluEoM9XRgA6YSQAHaHa?pid=ImgDet&rs=1https://th.bing.com/th/id/OIP.dM6d7GVluEoM9XRgA6YSQAHaHa?pid=ImgDet&rs=1);
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width: 10px;
    background-color: white;
    border-style: ridge;
    border-color:darkviolet;
}